<div class="hero-unit">
	<h1>Welcome to One Month Rails</h1>
	<p>Find me in app/views/pages/about.html.erb</p>
	<div class="footer">
		<%= link_to "One month rails", "http://onemonthrails.com", class: "btn btn-primary btn-large" %>
	</div>
</div>